[submodule "libs/libft"]
	path = libs/libft
	url = https://github.com/we-sh/libft.git
[submodule "test"]
	path = test
	url = https://github.com/we-sh/42ShellTester.git
[submodule "libs/libcaps"]
	path = libs/libcaps
	url = https://github.com/we-sh/libcaps.git
